body {
    font-family: "Cabin", sans-serif;
    
}

.header { 
    /* background-size: cover; */
    min-height: 50vh;
 }

 .navbar-nav .nav-link, .navbar-brand{
    color: white;
 }

.header .navbar {
    background-color: transparent !important;  
}

#quienes-somos{
    background-color: black !important;
    color: white !important;
}

/* #iconos-largos{
    height: 30px;
} */

/* revisar porque no puedo alargar el icono en horizontal */
#iconos-largos{
    margin: 0 auto;
}

#destacados{
    background-color: black !important;
    color: white !important;
}

#contacto{
    background-color: black !important;
    color: white !important;
}

pie-pagina{
    color: white !important;
}